
extends layout

block top_scripts
  link(rel='stylesheet', href=contents.css['custom.css'].url)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block header
  include author
  div.class
    div.content
      h2= page.title
        p.author
          | #{ 'Written by ' }
          mixin author(page.metadata.author)
  

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog
